
.ant-menu-item-selected {
  background-color: black !important;
}
.ant-menu-item-active {
  background-color: black !important;
}
.ant-menu-item {
  background-color: #393939;
}
.ant-menu-submenu-active {
  color: white !important;
}
